.header {
    width: 100%;
    height: 40px;
    background-color: #38CB89;
    display: flex;
    justify-content: center;
}

.down {
    display: flex;
    justify-content: space-between;
}

.down2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    
    
}

.pp {
    padding-left: 160px;
    font-weight: 900;
}

.pics {
    padding-right: 88px;
    gap: 16px;
    padding-top: 7px;

}

.image {
    background-image: url(../images/Image\ Placeholder.png);
    width: 100%;
    height: 820px;
    padding-top: 16px;

}

.textt {
    color: white;
    padding-top: 196px;
    padding-left: 172px;
    padding-right: 800px;
    padding-bottom: 384px;
    font-size: 71px;
}


    


